<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>show page</title>
</head>
<body>
    <h2>
        <img src="<%= villager.image_uri %>"><br>
        <%= villager.name['name-USen'] %><br>
        <%= villager.personality %><br>
        <%= villager["birthday-string"] %><br>
        <%= villager.gender %><br>
        <%= villager.species %><br>
        <%= villager.hobby %><br>
        <%= villager["catch-phrase"]%><br>
        <%= villager.saying %><br>
            
    </h2>
    <a href="/villagers/<%= villager._id %>/edit"><button>Edit</button></a>
    <form action="/villagers/<%= villager._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
    <a href="/villagers"><button>Back to Home</button></a>
</body>
</html>