<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <h2>
        <div id="imgflex">
        <img src="<%= villager.image_uri %>" id="showimg">
        </div>
        <div id="textflex">
        Name: <%= villager.name['name-USen'] || villager.name %><br>
        Personality: <%= villager.personality %> <br>
        Birthday: <%= villager["birthday-string"] %><br>
        Gender: <%= villager.gender %><br>
        Species: <%= villager.species %><br>
        Hobby: <%= villager.hobby %><br>
        Catchphrase: "<%= villager["catch-phrase"]%>"<br>
        Saying: "<%= villager.saying %>"<br>
        </div>
    </h2>
    <div id="allbuttons">
    <a href="/villagers/<%= villager._id %>/edit"><button class="button">Edit</button></a>
    <form action="/villagers/<%= villager._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete" class="button">
    </form>
    <a href="/villagers"><button class="button">Back to Home</button></a>
    </div>
</body>
</html>